<?xml version="1.0"?>
<module name="dma-sdma-imx6x">
	<type>Element</type>
	<classification>SDK</classification>

	<description>
	        <short>Freescale i.MX6x DMA library</short>
	        <abstract>
	                <![CDATA[The dma-sdma-imx6x library operates the DMA Controller, and is needed by certain device drivers to perform DMA transactions.]]>
	        </abstract>
	</description>

	<supports>
       		 <availability>
	          <cpu isa="arm">
                       <byteOrder>le</byteOrder>
	           </cpu>
	        </availability>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>

	<contents>
		<component id="SharedObj" generated="true">
		        <location basedir="{cpu}/so{.:endian}" runtime="true">
		                libdma-sdma-imx6x.so
		        </location>
		</component>
		<component id="SharedArchive" generated="true">
		<kind type="library"/>
		        <location basedir="{cpu}/so{.:endian}" runtime="false">
		                libdma-sdma-imx6xS.a
		        </location>
		</component>
	</contents>
</module>
