name: Linux

on:
  workflow_dispatch:
    inputs:
      flavors:
        description: "List of flavors to build"
        default: '["x86", "x86_64", "x86_64-musl", "armhf", "armbe8", "arm64", "arm64be", "arm64beilp32", "arm64-musl", "be-target", "mips", "mipsel", "mips64", "mips64el"]'

env:
  REGISTRY: ghcr.io

jobs:
  x-tools:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        flavor: ${{ fromJSON(github.event.inputs.flavors) }}
      fail-fast: false
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        if: github.ref == 'refs/heads/main'
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/frida/x-tools-linux-${{ matrix.flavor }}
          tags: type=raw,value=latest,enable={{ is_default_branch }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: x-tools
          file: x-tools/Dockerfile.linux-${{ matrix.flavor }}
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
